
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cont_0 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}


main {
    background-color: blueviolet;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

}

#poemMenuDiv {
    background-color: aqua;
}

#containerDiv {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}
#typewriterDiv {
    position: absolute;
    top: 0px;
}

