body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cont_0 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

main {
    background-color: aliceblue;
    padding: 1em;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

}
#text_input {
    height: 100px;
    position: fixed;
    left: 0em;
    top: calc(100% - 100px);
    width: calc(100%);
    background-color: rgba(255, 255, 255, 0.95);
}

#output_container {
    font-size: 3rem;
    padding-top: 1em;
}

#poem_list_container {
    background-color: aqua;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}